body{
    background-image: url(militarf.jpg);
}

.titulo{
    color: white;
    font-size: 40px;
}

.titulo:hover{
    color: orange;
}

<footer class="footer">
  <p class="testu">Al presionar alguno de los botones que se llaman planta alta y baja podrás visualizar unos planos en los cuales encontrarás todo lo que expone el museo en cada una de sus 12 salas y 4 galerías. Así podrás conocer la historia de la Aviación Mexicana, así como sus armamentos y aeronaves que se encuentran expuestas en el MUMA.</p>
</footer>

<style>
  .footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
  }

  .main-content {
    min-height: calc(100vh - 160px); /* Resta el alto del footer y la caja */
  }
</style>
}


  